.scald-flexslider-featherlight-lightbox {
    display: none;
}

.scald-flexslider-featherlight-trigger.popup-iframe {
    position: relative;
    display: block;
}

.scald-flexslider-featherlight-trigger.popup-iframe::after {
    content: '';
    display: block;
    position: absolute;
    background: url(play-button.png) center no-repeat;
    background-size: 160px 118px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s all ease;

}

.scald-flexslider-featherlight-trigger.popup-iframe:hover::after {
    background-color: #ffffff;
    opacity: 0.5;
}