/* Hide the author and tags fields when player setting info handling is set to hide */
.scald-flexslider-player-wrapper .hide-info .field {
  display: none; }

.scald-flexslider-player-wrapper .popup-info {
  position: relative; }
  .scald-flexslider-player-wrapper .popup-info .field {
    z-index: 999;
    visibility: hidden;
    position: fixed;
    left: -9999px;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transition-delay: 1s;
    /* Safari */
    transition-delay: 1s; }
  .scald-flexslider-player-wrapper .popup-info .scald-flexslider-info-popup-trigger-input {
    display: none; }
    .scald-flexslider-player-wrapper .popup-info .scald-flexslider-info-popup-trigger-input:checked + label {
      width: 100%;
      height: 100%;
      opacity: 0.9; }
    .scald-flexslider-player-wrapper .popup-info .scald-flexslider-info-popup-trigger-input:checked ~ .field {
      padding-left: 10px;
      opacity: 1;
      visibility: visible;
      display: inline-block;
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 50%; }
      .scald-flexslider-player-wrapper .popup-info .scald-flexslider-info-popup-trigger-input:checked ~ .field ~ .field {
        left: 50%; }
  .scald-flexslider-player-wrapper .popup-info .scald-flexslider-info-popup-trigger-label {
    width: 50px;
    height: 30px;
    margin: 0;
    display: block;
    position: absolute;
    padding: 0px 20px 6px 20px;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.5;
    text-align: right;
    -webkit-transition: opacity 1s ease, height 1s ease, width 1s ease;
    -moz-transition: opacity 1s ease, height 1s ease, width 1s ease;
    -ms-transition: opacity 1s ease, height 1s ease, width 1s ease;
    -o-transition: opacity 1s ease, height 1s ease, width 1s ease;
    transition: opacity 1s ease, height 1s ease, width 1s ease; }
    .scald-flexslider-player-wrapper .popup-info .scald-flexslider-info-popup-trigger-label:hover {
      opacity: 0.75;
      cursor: pointer; }
