.scald-flexslider-responsive-iframe-wrapper {
    position: relative;
    /*padding-bottom is set inline in prerender*/
    height: 0;
    overflow: hidden;
}

.scald-flexslider-responsive-iframe-wrapper iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}